/* COLORS */
@main-color: #4f4d4e;
@light-blue: #bfd9f2;
@blue: #94badf;

/* FONTS */
@ff-lato: "lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
@ff-corinthia: "corinthia", Arial, "Helvetica Neue", Helvetica, sans-serif;


*{
	outline: none;
}

html, body{
	height: 100%;
}

body{
	color: @main-color;
	font-family: @ff-lato;
}

img{
	max-width: 100%;
}

.header-nav-logo img{
	display: block;
	width: 120px;
	height: 120px;
}

a, a:hover{
	text-decoration: none;
	transition: all .4s ease-in-out;
}

/* customisation du place holder : /!\ ça ne marche pas sur les anciens navigateurs */
/*::-webkit-input-placeholder{
	color: @blue;
}
::-moz-placeholder{
	color: @blue;
}
:-ms-input-placeholder{
	color: @blue;
}
:-moz-placeholder {
  color: @blue;
}*/

/* bouton avec bordure et arrondi */
.button-radius{
	display: inline-block;
	padding: 10px 25px;
	margin: 40px 0;

	color: #B21B24;
	text-transform: uppercase;

	border: 1px solid #B21B24;
	border-radius: 30px;

	&:hover{
		border-color: darken(#B21B24, 20%);
		color: darken(#B21B24, 20%);
	}
}


/* HEADER */
.header{
	background: url(../images/fond1.jpg) no-repeat bottom center fixed;
	background-size: cover;
	height: 700px;

	&-nav{
		width: 100%;
		padding: 20px 0;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;

		background: rgba(178, 27, 36,.1);

		a{
			color: #fff;
		}

		&-logo{
			float: left;

			/*a{
				font-size: 30px;
			}*/
		}

		&-menu{
			float: right;

			ul{
				margin: 0;
				padding: 0;

				li{
					margin-left: 40px;

					a{
						display: inline-block;
						position: relative;

						&:hover{
							color:#600006;
						}
					}
				}
			}

			&-login{
				padding: 5px 15px;
				border: 2px solid #FFF;

				&:hover{
					border-color:#600006;
				}
			}
		}
	}

	.header-nav-menu li  {
		list-style: none;
	}

	.header-nav-menu{
		margin-top: 40px;
	}

	.header-nav-menu ul li {
		display:inline-block;
		position: relative;
		font-size: 22px;
	}

	.header-nav-menu ul li ul {
			display: none;
			position:absolute;
			background:rgba(178, 27, 36,.6); 
			border: 1px solid white;
			border-radius: 5px;
		
	}

	.header-nav-menu ul li:hover > ul {
	 		display:block;
	}

	.header-nav-menu ul ul li{
		display: block;
		margin: 0;
		margin: 10px;
	}

	.header-nav-menu ul ul li a:hover{
		background: white;
		padding: 5px;
	}

	.header-nav-menu ul li.sous-menu > a:after{
		content: "↓";
		position: relative;
	}

	.dropdown-menu{
		min-width: 40px;
	}

	&-title{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1{
			font-family: @ff-corinthia;
			font-size: 100px;
			color: #fff;

			text-shadow: 0 0 3px rgba(0, 0, 0, .3);

			span{
				display: block;
				margin-top: -20px;

				font-family: @ff-lato;
				font-size: 16px;
				color: fadeOut(#FFF, 5%);

			}
		}
	}
}

/* SEARCH BAR */
.search{
	background: rgba(178, 27, 36,.1);
	color:#600006;

	form{
		position: relative;
		margin: 0;
	}

	&-field{
		background-color: transparent;
		display: block;
		width: 100%;
		border: none;
		padding: 30px 0;
		font-size: 30px;
	}

	&-button{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background: transparent;
		color:#600006;
		font-size: 30px;
		border: none;

	}
}
.search input::-webkit-input-placeholder {
    color:#600006;
}
 
.search input:-moz-placeholder {
    color:#600006;
}

/* MAIN CONTENT */
.main{
	padding: 40px 0px;
}

.container p{
	font-size: 16px;
	padding-bottom: 40px;
}

.select-alea{
	text-align: center;
}

.select-alea h2{
	background: #B21B24;
	border-radius: 50px;
	margin-top: 60px;
	margin-bottom: 40px;
	padding: 10px 250px;
	color: white;
	display: inline-block;
}

/*PAGE*/
.page{
	margin-bottom: 50px;
	padding-top: 20px;
	text-align: center;
}

.page h2{
	font-size: 50px;
	color: #C6252B;
	text-align: center;
	margin-bottom: 40px;
}

.page label{
	display: block;
	/*width: 200px;*/
	/*float: left;*/
	text-align: center;
}

.page input{
	margin: 5px;
	border-radius: 20px;
	text-align: center;
}

.page button{
	background-color: #DD8E10;
	border: none;
	font-size: 20px; 
	color: white;
	margin-top: 40px;
	margin-bottom: 10px;
}

.button_2 button{
	background-color: #DD8E10;
	border: none;
	font-size: 20px; 
	color: white;
	margin-top: 0;
	margin-bottom: 10px;
}

.button{
	text-align: center;
}

.lastcommand{
	text-align: center;
}

.lastcommand ul{
	padding: 0;
}

.lastcommand ul li{
	list-style-type: none;
}

.prod_name, .post img{
	width: 500px;
}


/*STARS*/
.starOn {
	font-size: 2em;
	color: orange;
}

.starOff {
	font-size: 2em;
}

.rating {
   direction: rtl;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}


/* EACH POST*/
.post{
	margin: 15px 0;
	border: 1px solid #EEE;

	&-thumbnail{
		position: relative;
		height: 300px;
		overflow: hidden;
	}

	&-price{
		position: absolute;
		top: 15px;
		left: 15px;

		padding: 10px 15px;

		background: #FFF, 0.1; 
		border-radius: 3px;

		&:before{
			content:"";

			display: block;
			width: 0;
			height: 100%;
			
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			
			background: #B21B24;
			border-radius: 3px;
			transition: all .3s ease-in;
		}

		span{
			position: relative;
			z-index: 1;
			transition: all .3s ease-in;
		}
	}

	a{
		display: block;
		color: @main-color;
		overflow: hidden;

		img{
			transition: all .6s ease-in-out;
			width: 100%;
		}

		&:hover{
			img{
				transform: rotate(6deg) scale(1.1);
			}

			.post-price{
				&:before{
					width: 100%;
				}

				span{
					color: #FFF;
				}
			}
		}
	}

	&-content{
		padding: 20px;

		&-title{
			font-size: 1.5rem;
			font-weight: bold;
			margin: 5px 0;
		}

		&-excerpt{
			font-size: 1.2rem;
			color: lighten(@main-color, 30%);

			span{
				color: lighten(@main-color, 10%);
			}
		}
	}
}

.post_prod{
	border: 0px solid #EEE;

	.prod_category{
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.prod_name{
		font-size: 18px;
		font-weight: bold;
		margin: 80px 0px 20px 0px;
		text-transform: uppercase;
	}

	.prod_desc{
		margin: 20px 0px 20px 0px;

		span{
			text-decoration: underline;
			font-weight: bold;
			margin: 20px 0px 20px 0px;
		}
	}

	.prod_price{
		margin: 20px 0px 20px 0px;

		span{
			font-weight: bold;
			margin: 20px 0px 20px 0px;
		}
	}

	.prod_stock{
		margin: 20px 0px 20px 0px;

		span{
			font-weight: bold;
			margin: 20px 0px 20px 0px;
		}
	}

	.prod_quantity{
		margin: 0px 5px 10px 0px;
	}
}

/* FOOTER */
.footer{
	background:#B21B24;
	color: #fff;
	padding: 30px 0 0;
	line-height: 30px;
	text-align: center;

	a{
		color: #fff;
		padding: 0 10px;
	}

	&-copyright{
		margin: 40px 0 0;
		padding: 30px 0;

		border-top: 1px solid white;
	}

	ul&-social{
		li{
			/*margin-right: 10px;*/
		}
	}
}

.footer-align p{
	padding-top: 40px;
}

@media screen and (max-width: 768px){

	.header{
		&-nav{
			position: static;

			&-logo, &-menu{
				float: none;
				display: block;
				text-align: center;
			}
		}

		&-title h1{
			font-size: 40px;

			span{
				margin-top: 0;
			}
		}
	}
}
